body{
  font-family: 'Roboto Slab', serif;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 350px;
  background-color: yellow;
  grid-gap: 10px;
}


.grid-container>div {
  background-color: powderblue;
  text-align: center;
  padding: 20px 0;
}

#list {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

#cart {
  display: grid;
  grid-template-columns: repeat(3, auto);
}