body {
  font-family: 'Roboto Slab', serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 300px;
  grid-gap: 10px;
  padding: 10px;
  background-color: blanchedalmond;

}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}